body {
  background: url("https://media.giphy.com/media/RYKvJ5SLwWw4U/giphy.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
